{% extends 'base.html.twig' %}

{% block title %}Mon compte - Les Petits Domaines{% endblock %}

{% block content %}

	{# {{ dump(app.user.firstename) }} #}
	<h1>Mon compte - Les Petits Domaines</h1>
	<h2>Bienvenue{{ app.user.firstname }}dans votre compte.</h2>

	<hr>

	<a href="{{ path('password') }}">-Modifier mot de passe</a><br />
	<a href="{{ path('address') }}">-Gérer mes adresses</a><br />
	<a href="{{ path('account_order') }}">-Gérer mes commandes</a>

{% endblock %}
