{% extends 'base.html.twig' %}

{% block title %}Mon compte - Ma commande - Les Petits Domaines{% endblock %}

{% block content %}

    <h1>Ma commande - <small>{{ order.reference }}</small></h1> 
    <a href="{{ path('account_order')}}">Retour aux comandes </a>
    
    <hr>

    <strong>Commande passée le : </strong>{{ order.createdAt|date('d/m/Y') }}<br />
    <strong>Réference de ma commande : </strong> <small class="badge badge-dark">{{ order.reference }}</small><br />
    <strong>Transporteur choisi : </strong>{{ order.carrierName }}<br />
    <strong>Statut : </strong>
                            
        {% if order.state == 1 %}
            <spam class="badge badge-success">Payée</spam>
        {% elseif order.state == 2 %}
            <spam class="badge badge-info">En cours de préparation</spam>
        {% elseif order.state == 3 %}
            <spam class="badge badge-warning">Expédiée</spam>
        {% endif %}
                        
    <hr>

    <strong>Détails : </strong>

    <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Produit(s)</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Total des produits</th>                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for product in  order.orderDetails %}

                        <td>{{ product.product }}</td>
                        <td>{{ (product.price / 100)|number_format(2, ',', '.') }} €</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ (product.total / 100)|number_format(2, ',', '.') }} €</td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>

        <div class="text-right">
            <strong>Sous-total : </strong>{{ (order.getTotal() / 100)|number_format(2, ',', '.') }} €<br />
            <strong>Livraison : </strong>{{ (order.carrierPrice / 100)|number_format(2, ',', '.') }} €<br />
            <strong>Total : </strong>{{ ((order.carrierPrice + order.getTotal()) / 100)|number_format(2, ',', '.') }} €
        </div>

{% endblock %}
