{% extends 'base.html.twig' %}

{% block title %}Mon compte - Mes commandes - Les Petits Domaines{% endblock %}

{% block content %}

    <h1>Mes commandes</h1>
    <p>C'est dans cette espace que vous pouvez gérez vos commandes</p>
    <a href="{{ path('account')}}">Retour</a>
    {# {{ dump(app.user) }} #}

    {% if orders|length == 0 %}

        <p class="text-center">
        Vous n'avez pas encore passé de commandes  
        </p>

    {% else %}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Féference</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Passé le</th>
                    <th scope="col">Produit(s)</th>
                    <th scope="col">Total</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for order in  orders %}
{{ dump(order) }}
                        <td><spam class="badge badge-secondary"></spam>{{ order.reference }}</td>
                        <td>
                            {% if order.state == 1 %}
                                <spam class="badge badge-secondary">Payée</spam>
                            {% elseif order.state == 2 %}
                                <spam class="badge badge-secondary">En cours de préparation</spam>
                            {% elseif order.state == 3 %}
                                <spam class="badge badge-secondary">Expédiée</spam>
                            {% endif %}
                        </td
                        <td>{{ order.createdAt|date('d/m/Y') }}</td>
                        <td>{{ order.orderDetails|length }}</td>
                        <td>{{ ((order.carrierPrice + order.getTotal()) / 100)|number_format(2, ',', '.') }} €</td>
                        <td class="text-right"><a href="{{ path('account_order_show', {'reference' : order.reference}) }}">Voir ma commande</a></td>

                    {% endfor %}
                </tr>
            </tbody>
        </table>
    {% endif %}

{% endblock %}
