{% extends 'base.html.twig' %}

{% block title %}Ma commande Confirmée - Les Petits Domaines{% endblock %}

{% block content %}

    <h1>Merci d'avoir fait vos achat chez nous - Les Petits Domaines</h1>
    <p>bonjour {{ order.user.firstname}} {{ order.user.lasname }}<br />
    Nous vous remercion pour votre confiance un mail vient de vous être envoyé à l'adresse {{ order.user.email }}<br />
    Votre commande porte la reference suivante : {{ order.reference }}

    <hr>

    votre commande sera livré par {{ order.carrierName }} à l'adresse suivante <br />
    {{ order.delivery|raw }}

    <hr>

    Pour suivre votre commande rendez-vous dans votre <a href="{{ path('account') }}" class="btn btn-info">Aller au compte</a> 

{% endblock %}
