{% extends 'base.html.twig' %}

{% block title %}Ma commande - Les Petits Domaines{% endblock %}

{% block content %}

	<h1>Je passe ma commande</h1>
	<p>Choisissez vos préferences avant de passer votre commande sur les petits domaines</p>

	<hr>

	<div class="row">
		<div class="col-md-6">
			
				{% set formhtml %}

					{{ form_start(formOrder, {action:path('order_save')}) }}
						{{ form_label(formOrder.addresses, 'Choisissez votre adresse de livraison ou ')}}
						<a href="{{ path('add_address') }}">Ajoutez une nouvelle adresse</a>
					{{ form_end(formOrder)}}

				{% endset %}
				{{ formhtml|replace({'[br]' : '<br/>'})|raw}}
			
		</div>
		{# {{ dump(cart) }} #}
		<div class="col-md-6">
			<div class="text-center">
				<b>mes produits choisi</b>
				<p>Retrouvez l'ensemble de vos produits choisi</p>
			</div>
			<div class="order-sumary">
				{% for key,product in cart %}
					<div class="row {% if key > 1 %}mt-2{% endif %}">
						<div class="col-2">
							<img src=" /illustrations/{{ product.product.illustration }} " alt=" {{ product.product.name }} " height="75px">
						</div>
						<div class="col-8 my-auto text-center">
							{{ product.product.name }}
							<br />
							<small>{{ product.product.subtitle }}</small>
						</div>
						<div class="col-2 my-auto" >
							{{ product.quantity }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		
		
			
			<b>bouton pour payer</b>
		</div>
	</div>

{% endblock %}
